vnh1
compiler/compiler
core/core

# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files
api/vm/ts/*.js
api/vm/client/*.js
*.js.map

# Ignore TypeScript build output directory
dist/

tests/tests
apiservices/webgrpc/grpc_stream.go
