vnh1
custodiajs
compiler/compiler
core/core

# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files
api/vm/ts/*.js
api/vm/client/*.js
*.js.map

# Ignore TypeScript build output directory
dist/
build/
vmprocess/grpc_streams.go
vmprocess/types.go
vmprocess/vmprocess.go
.gitignore
apiservices/localgrpc/api_context.go
apiservices/localgrpc/grpc_functions.go
apiservices/localgrpc/grpc_streams.go
apiservices/localgrpc/vm_process.go
apiservices/localgrpc/types.go
protobuff/local_rpc.proto
